{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
</head>
<body class="container">
	<a href="/">Home</a>
	<a href="/about/">About</a>
	<a href="/blog/list/">Blogs</a>

	{% block content %}
	{% endblock %}

</body>
</html>