{% extends 'base.html' %}

{% block content %}
<div class="row">
	<div class="col-12">
		<form method="POST" enctype="multipart/form-data">
			{% csrf_token %}
			{{form.as_p}}
			<button>Submit</button>
			
		</form>
			
	</div>
</div>

{% endblock %}