{% extends 'base.html' %}

{% block content %}
<a href="/blog/create/">Create New Blog</a>
<div class="row">
	{% for blog in bloglist %}
	<div class="col-4">
		<h4 ><a href="/blog/{{blog.pk}}/detail/">{{blog.title}}</a></h4>
		<img src="{{blog.image.url}}" class="img-fluid">
		<p>{{blog.content|truncatechars:'100'}}</p>
		<a href="/blog/{{blog.pk}}/detail/">Read More</a>
	</div>

	{% endfor %}
</div>

{% endblock %}